<div class="container">
  <div
    class="row d-flex flex-column flex-md-row mt-3 p-2 justify-content-between"
  >
    <div
      *ngFor="let match of matches"
      class="card d-flex flex-wrap align-items-center gap-4 p-2 m-3 col-3"
    >
      <span>{{ match.date | date: "dd/MM/yyyy HH:mm" }}</span>
      <span
        >{{ match.firstTeam.countryName }} vs
        {{ match.secondTeam.countryName }}</span
      >
      <div class="d-flex align-items-center gap-2">
        <div class="d-flex gap-3">
          <img
            src="../../../../assets/brasoes/bra.svg"
            alt="bandeira do Brasil"
            class="img rounded-1"
          />

          <img
            src="../../../../assets/brasoes/cam.svg"
            alt="bandeira do país Camarões"
            class="img rounded-1"
          />
        </div>
      </div>

      <div class="d-flex gap-2">
        <button (click)="fazerAposta('TEAM1', match.id)" class="bet-button">
          {{ match.firstTeam.countryName }}
        </button>

        <button (click)="fazerAposta('DRAW', match.id)" class="bet-button">
          Empate
        </button>

        <button (click)="fazerAposta('TEAM2', match.id)" class="bet-button">
          {{ match.secondTeam.countryName }}
        </button>
      </div>
    </div>
  </div>
</div>
