
<div class="d-flex align-items-center flex-column" >
  <div class="card mt-4 align-items-center" style="width: 14rem;">

    <span class="card-text"> 20/11/2022 </span>
    <span>13:00</span>

    <div class="card-body d-flex flex-column gap-3">
      <div class="d-flex justify-content-around">
        <i class="fa-sharp fa-solid fa-image"></i>
        <span>{{ team1 }}</span>
        <span>X</span>
        <span>{{ team2 }}</span>
        <i class="fa-sharp fa-solid fa-image"></i>
      </div>

      <a href="#"
        class="btn btn-sm bg-violet-400 text-white">
        Confirmar a Aposta
      </a>
      
    </div>
  </div>
</div>
