<div class="mt-3 d-flex align-items-center gap-3 p-2">
  <div
    class="card d-flex align-items-center gap-3 p-2">
    <span>20/11/2022 13:00</span>
    <span></span>
    <span>Empate</span>
    <div class="d-flex align-items-center gap-2">
      <div class="d-flex gap-3">
        <img
          src="../../../../assets/brasoes/bra.svg"
          alt="bandeira do Brasil"
        />
        <div class="d-flex align-content-baseline gap-4">
          <input type="checkbox" name="" id="" />
          <input type="checkbox" name="" id=""  />
          <input type="checkbox" name="" id="" />
        </div>
        <img src="../../../../assets/brasoes/cam.svg" alt="bandeira do país Camarões" />
      </div>
    </div>
    <button class="btn btn-success  w-auto " type="submit">Confirmar Aposta</button>
  </div>
</div>
