<div class="d-flex flex-column align-items-center m-5 " >
  <form
    [formGroup]="loginForm"
    class="rounded bg-green-300 p-2 text-white bg-opacity-50"
    style="width: 19rem"
    (submit)="login()"
  >
    <legend class="text-center">Entrar em Campo</legend>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fw-lighter"
        >Email</label
      >
      <input
        type="email"
        class="form-control bg-light text-black"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        #userNameInputFocus
        formControlName="userName"
        placeholder="@gmail.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fw-lighter"
        >Senha</label
      >
      <input
        type="password"
        class="form-control bg-light text-dark"
        id="exampleInputPassword1"
        formControlName="password"
        placeholder="*****"
      />
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <button
        type="submit"
        class="btn btn-warning text-dark submit-button m-2"
        routerLink="/login"
      >
        Entrar
      </button>

      <a class="text-end" style="color: white">Registre-se</a>
      <a class="text-end backhome" style="color: white" routerLink="/home">Voltar</a>
    </div>
  </form>
</div>
