<header class="bg-violet" *ngIf="user.name">
  <nav class="d-flex justify-content-around align-items-center flex-wrap">
    <a class="navbar-brand text-white">HexaBet</a>
    <ul class="nav justify-content-center">
      <li class="nav-item ">
        <a class="nav-link active text-white" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/matches">Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/table">Tabela</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-white" routerLink="/teams">Seleções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ranking">Ranking</a>
      </li>
    </ul>

      <div >
        <i class="fa fa-user-circle text-white m-2"></i>
        <a class="text-white ">{{ user.name }}</a>
      </div>
  </nav>
</header>
