<header>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tabela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Seleções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Ranking Bolão</a>
      </li>
    </ul>
  </nav>
</header>
