<header class="bg-violet">
  <nav >
    <ul class="nav justify-content-center">
      <li class="nav-item ">
        <a class="nav-link active text-white" routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/matches">Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/table">Tabela</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-white" routerLink="/teams">Seleções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ranking">Ranking Bolão</a>
      </li>
    </ul>
  </nav>
</header>
