/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none !important;
}

body {

}

.bg-violet {
  background-color: rgb(4, 124, 63);
}

.bg-violet-400 {

  border: solid 0.3px #e5d36a;
  width: 200px;
  text-align: center;
  border-radius: 12px;

}

.bg-violet-400:hover {
  font-weight: bold !important;
  background-color: #0e5f25;

}
