/* You can add global styles to this file, and also import other style files */
a{
  text-decoration: none !important;
  cursor: pointer;
}

li {
  list-style: none;
}


.bg-green-dark {
  background-color: #091D12
}

.bg-green-600 {
  background-color: #114b2e;
}

.bg-green-500 {
  background-color: #13291d;
}

.bg-green-300 {
  background-color: #047C3F ;
}


.bg-blue-500 {
  background-color: #1F235B ;
}

.bg-blue-400 {
  background-color: #373D98;
}


.bg-yellow-500 {
  background-color: #E2C82E;
}
