
<section class="welcome">
  <div class=" mt-4 container d-flex flex-column">
    <div class="row">

      <div class="d-none d-md-block col-6">
       <img src="#" alt="foto">
      </div>

      <div class="col-12 col-md-6 text-center">
        <h1>Bem vindo ao HexaBet!</h1>
        <p>Ajudamos a gerenciar os seus bolões da copa do Mundo FiFa 2022!</p>
        <p>Divirta-se com amigos e familiares, e acompanhe as principais
         informações do evento mais importante do Futebol Mundial.</p>
      </div>

    </div>
  </div>
</section>

<section class="info" >
  <div class="container mt-4 d-flex flex-column">
    <h2 class="text-center mt-4">Como Funciona</h2>

    <div class="d-flex mt-2 flex-column flex-md-row">
      <div>
        <i>icone</i>
        <h3>1 Cadastre-se</h3>
        <p>Realize o cadastro para ter acesso ao dashboard de jogos.</p>
      </div>

      <div>
        <i>icone</i>
        <h3>2 Analise e escolha</h3>
        <p>Verifique as partidas diponíveis no dashboard e escolha o
          possível vencedor.</p>
      </div>

      <div>
        <i>icone</i>
        <h3>3 Dê seu Palpite</h3>
        <p>Concretize o seu palpite e some 1 ponto a cada acerto!</p>
      </div>
    </div>
  </div>

</section>

<section class="rules">
    <div class="container mt-4">
        <div>
          <h2 class="text-center">Confira as Regras</h2>

          <div class="">
            <ol>

              <li>
                <p>O bolão abrange apenas a fase de grupos da Copa Mundo.</p>
              </li>

              <li>
                <p>
                  Cada jogador só poderá inserir ou editar palpites até
                  <strong>5 minutos</strong> antes do início da partida.<br>
                  Após esse horário não há mais possibilidade de alteração.
                </p>
              </li>

              <li>
                <p>O jogador poderá dar um palpite em cada jogo da fase
                  de grupos, sendo:<br>Vitória do Time1, Empate e Vitória
                  do Time2.
                </p>
              </li>

              <li>
                <p>A cada acerto, o jogador somará 1 ponto e poderá
                  acompanhar o seu desempenho em relação aos demais jogadores
                  através de um ranking na própria plataforma.
                </p>
              </li>

              <li>
                <p>O jogador que fizer o maior número de pontos é o
                  vencedor do bolão.
                </p>
              </li>

            </ol>
          </div>
        </div>
    </div>
</section>


