.welcome {
  margin-top: 4rem;
  padding-top: 3rem;
}

.card {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;

  width: 12rem;
  height: 16rem;
  padding: 1rem;

  text-align: center;
  color: white;
}
