<hb-header> </hb-header>

<section class="welcome bg-green-500">
  <div class="mt-6 container d-flex flex-column">
    <div class="row">
      <div class="d-none d-md-block col-6">
        <img class="img-fluid" src="" alt="foto" />
      </div>

      <div class="col-12 col-md-6 text-center text-white">
        <div class="d-flex flex-column gap-4">
          <h1 class="h1">Bem vindo ao HexaBet!</h1>
          <h6 class="h6">
            Ajudamos a gerenciar o seu bolão da copa do Mundo FiFa 2022!
          </h6>
          <p class="text-white-50">
            Divirta-se com seus amigos e familiares, e acompanhe as principais
            informações do evento mais importante do Futebol Mundial.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works bg-blue-500">
  <div class="container pt-4 pb-4">
    <div class="d-flex mt-2 flex-column align-items-center">
      <h2 class="h2 text-center text-bg-success text-white rounded-2 p-2">
        Como Funciona
      </h2>
      <div class="d-flex flex-column gap-4 mt-4 flex-md-row gap-md-5">
        <div class="card bg-blue-400">
          <i class="">icone</i>
          <h3>Registre-se</h3>
          <p>Realize o cadastro para ter acesso ao dashboard de jogos.</p>
          <a class="btn btn-warning text-dark" href="#">Registrar-se</a>
        </div>

        <div class="card bg-green-300">
          <i>icone</i>
          <h3>Analise e escolha</h3>
          <p>Verifique as partidas diponíveis e escolha o possível vencedor.</p>
        </div>

        <div class="card bg-blue-400">
          <i>icone</i>
          <h3>Dê o seu Palpite</h3>
          <p>Concretize o seu palpite e some 1 ponto a cada acerto!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rules bg-green-500 pb-4">
  <div class="container pt-4">
    <div class="d-flex mt-2 flex-column  align-items-center">
      <h2 class="h2 text-center text-bg-success text-white rounded-2 p-2">
        Confira as Regras
      </h2>

      <ul class="list-group pt-4 border-2">
        <li class="list-group-item ">
          O bolão abrange apenas a fase de grupos da Copa Mundo
        </li>
        <li class="list-group-item">
          Cada jogador poderá inserir ou editar palpites, antes do início da
          partida.
        </li>
        <li class="list-group-item ">
          Será permitido APENAS UM palpite por jogo.
        </li>
        <li class="list-group-item ">
          A cada acerto, o participante somará 1 ponto
        </li>
        <li class="list-group-item ">
          O jogador que somar o maior número de pontos é o vencedor do bolão.
        </li>
      </ul>

    </div>
  </div>
</section>

<hb-footer> </hb-footer>

